body{
	height:100%;
	width:100%;
	margin:0;
	font-family: Arial, Helvetica, sans-serif;
}
.main{
	overflow :hidden;
	top:0;
	width: 100%;
	position:fixed;
}
#header{
	padding:0;
	font-size : 30px;
	overflow: hidden;
	text-align: center;
	color:white;
	background-color:black;
}
#fotoP{
	border-radius:100px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
body,h3{
	text-align: left;
}
h3{
	text-align: center;
}
.tab{
	list-style-type: none;
	padding:0;
	overflow: hidden;
	position: sticky;
	background-color:black;
}
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 1s;
  font-size: 17px;
}
.tablinks{
	padding : 10px 10px;
	background-color :black;
	color :white;
	text-decoration: none;

}
.tablinks:active{
	background-color : " #e9ebee";
}
.tablinks:hover{
	background-color:blue;
	cursor:pointer;
}
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  margin-top: 200px;
  margin-bottom :150px;
  margin-left:20px;
  margin-right: 20px;
  background-color:#e9ebee; 
}
.tabcontent p, .tabcontent figcaption{
	font-size:25px;
	color:grey;
	background-color :black;
	padding:20px 20px;
	border-radius:10px;
}
.tabcontent z{
	font-size:25px;
}

.footer {	
	position:fixed;
   top:auto;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: black;
   color: white;
   text-align: center;
}
.classcontent{
	top:auto;
}
#fotoSd,#fotoTk,#fotoSma,#fotoAnd,#fotoAi{
	margin-left: auto;
	margin-right: auto;
	display: block;
	border-radius: 100px;
	background-color:grey;
}
.skills {
  text-align: right;
  padding: 15px;
  color: white;
}
.java {
	width: 90%; 
	background-color: #4CAF50;
}
.cpp {
	width: 80%; 
	background-color: #2196F3;
}
.AndroidStudio {
	width: 65%; 
	background-color: #f44336;
}
.HTML {
	width: 60%; 
	background-color: #808080;
	margin-bottom: 50px;
}